body {
	background: #00171F; 
	font-family: Verdana;
}

a {
	text-decoration: none;
	color: #FF7B24;
}

a:visited {
	color: #C24E00;
}

a:active{
	color: #FF9A57;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url("http://fonts.gstatic.com/s/roboto/v13/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("http://fonts.gstatic.com/s/roboto/v13/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"), local("Roboto-Regular"), url("http://fonts.gstatic.com/s/roboto/v13/2UX7WLTfW3W8TclTUvlFyQ.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("http://fonts.gstatic.com/s/roboto/v13/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

.fb-like { 
	padding: 0px;
}

.twitter-share-button {
	padding: 0px;
}

.g-plusone {
	padding: 0px;
}

#frame {
	border: 10px;
	border-color: black;
}

h1{
	font-family: "Roboto", Arial, sans-serif;
	font-weight: bold;
	line-height: 60px; 
	text-align: center;
	font-size: 2.5em;
	background-color: #800000;
	color: white;
	margin-bottom: 0px;
	width: 900px;
}

h3 {
	font-family: "Roboto";
	font-size: 16px;
}

#topbar {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	height: 40px;
	position: relative;
	
}

.nameCircle {
	border-radius: 50%;
	width: 14px;
	height: 14px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	background: #F57A00;
}

.name {
	font-family: "Roboto";
	line-height: 40px;
	color: silver;
	position: absolute;
	height: 35%;
	padding: 0px;
	bottom: 0px;
	left: 33px;
}

.name:hover {
	color: #F57A00;
}

#curPage {
	left: 185px;
}

#fb_icon {
	position: absolute;
	bottom: -2px;
	right: 185px;
}

#twitter_icon {
	position: absolute;
	bottom: -2px;
	right: 135px;
}

#gplus_icon {
	position: absolute;
	bottom: -2px;
	right: 95px;
}

#github_icon {
	position: absolute;
	bottom: -2px;
	right: 55px;
}
#linkedin_icon {
	position: absolute;
	bottom: -2px;
	right: 10px;
}

.circular-image img {
    width: 175px;
    height: 175px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 105px;
	position: relative;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
	position: center;
	opacity: 0.85;
}

#masthead {
	height: 315px;
	#height: 105px;
	width: 900px;
	background-color: #00171F;
	background-image:url(img/Northern_lights_over_the_mountain-crop.jpg);
	position:relative;
}

#masthead h1 {
	position: absolute;
	bottom: 25px;
	opacity: 0.75;
}

#mastheadbottom {
	width: 900px;
	height: 15px;
	position: absolute;
	bottom: 10px;
	background-color: #660000;
	opacity: 0.75;
}

#navmenu {
	padding: 0px;
	margin: 0px;
	width: 200px;
	position: absolute;
	top: 70px;
	left:130px;
}

ul.navmenu{
	margin: 0px;
	padding: 0px;
	text-align: left;
	list-style-type: none;
}

li.navlink {
	font-family: "Roboto";
	font-size: 11pt;
	#display: inline;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	color: #A6A6A6;
}

#main {
	padding: 0px;
	padding-top: 0px;
	background-color: #00171F;
	#background-color: silver;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 900px;
	
}

#content {
	font-size: 11pt;
	margin: 0px;
	margin-top: 15px;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: silver;
}

img.potato-salad {
   border:3px solid #021a40;
}

#footer {
	font-family: "Roboto";
	font-size: 10pt;
	color: white;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 900px;
	background-color: #333333;
}

#leftfooter {
	font-size: 8pt;
	float: left;
	padding: 0px;
	padding-right: 30px;
	padding-left: 10px;
	#width: 30%;
}

#rightfooter {
	#float: right;
	padding: 0px;
	padding-right: 10px;
	#width: 70%;
}
