@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url("http://fonts.gstatic.com/s/roboto/v13/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("http://fonts.gstatic.com/s/roboto/v13/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"), local("Roboto-Regular"), url("http://fonts.gstatic.com/s/roboto/v13/2UX7WLTfW3W8TclTUvlFyQ.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("http://fonts.gstatic.com/s/roboto/v13/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

body {
	background: #00171F; 
	font-family: Verdana;
}

h1{
	font-family: "Roboto", Arial, sans-serif;
	font-weight: bold;
	line-height: 60px; 
	text-align: center;
	font-size: 2.5em;
	background-color: #990000;
	color: white;
	margin-bottom: 0px;
	width: 900px;
}

h3 {
	font-family: "Roboto";
	font-size: 16px;
}

a {
	text-decoration: none;
}

#topbar {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	height: 40px;
	position: relative;
	
}

#logo {
	font-family: "Roboto";
	line-height: 40px;
	color: silver;
	position: absolute;
	height: 35%;
	padding: 0px;
	bottom: 0px;
	left: 33px;
}

#fb_icon {
	position: absolute;
	bottom: 0px;
	right: 100px;
}

#twitter_icon {
	position: absolute;
	bottom: 0px;
	right: 50px;
}

#gplus_icon {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

#masthead {
	height: 390px;
	width: 900px;
	background-image:url(img/Northern_lights_over_the_mountain-crop.jpg);
	position:relative;
}

#masthead h1
{
  position:absolute;
  bottom:0;
}

#main {
	padding: 10px;
	background-color: #4D4D4D;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 900px;
	
}

#content {
	font-size: 11pt;
	padding: 20px;
	margin-top:10px;
	background-color: silver;
}

#footer {
	font-family: "Roboto";
	font-size: 10pt;
	color: white;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 900px;
	background-color: #333333;
}

#leftfooter {
	font-size: 8pt;
	float: left;
	padding: 10px;
	padding-right: 30px;
	width: 30%;
}

#rightfooter {
	#float: right;
	padding: 10px;
	width: 70%;
}
