	<div class="navicon">
		<img class="iconMenuGray" src="./assets/icons/icon-menu-gray.png" alt="Menu button in black" style="width:30px;"/>
		<img class="iconMenuWhite" src="./assets/icons/icon-menu-white.png" alt="Menu button in white" style="width:30px; display:none;"/>
	</div>
		<div id='navbar' style='display: none;'>
		<div class="navbar-top"></div>
		<div class="navbar-main">

		<!-- HOMEPAGE -->
		<a href="#">
			<div class="nav" style="margin-top: 10px;">
				<div class="name">
					<span class="title" style="font-size: 13pt">simonkhzhang.me</span>
				</div>
			</div>
		</a>

		<!-- OTHER PAGES -->
		<ul class="nav" style="margin-bottom: 10px;">
			<li><a href="#about"><button class="nav-button" onClick="showNavbar(false, false);">About</button></a></li>
			<li><a href="#projects"><button class="nav-button" onClick="showNavbar(false, false);">Projects</button></a></li>
			<li><a href="#contact"><button class="nav-button" onClick="showNavbar(false, false);">Contact</button></a></li>
		</ul>


		<div class="navbar-main-bottom">

			<!-- RESUME -->
			<div class="nav">
				<a href="{$directoryString}documents/Simon_Zhang_resume.pdf">
					<button class="nav-button" style="height: 45px; padding: 5px;">
						<img src="./assets/icons/professional5.png" alt="Resume" style="width:25px;"/>&nbsp;Resume&nbsp;&nbsp;
					</button>
				</a>
			</div>

			<!-- EMAIL -->
			<div class="nav">
				<a href="mailto:simonkhzhang@gmail.com" target="_blank">
					<button class="nav-button" style="height: 45px; padding: 5px;">
						<img src="./assets/icons/email6-white.png" alt="Email" style="width:25px;"/>&nbsp;Email&nbsp;&nbsp;
					</button>
				</a>
			</div>
			
			<!-- SOCIAL -->
			<ul class="links nav">
				<li class="link-item">
					<a href="http://github.com/skhzhang" target="_blank"><img src="./assets/icons/GitHub-Mark-Light-64px.png" alt="Github" style="width: 25px;"/></a>
				</li>
				<li class="link-item">
					<a href="http://linkedin.com/in/skhzhang" target="_blank"><img src="./assets/icons/In-2C-75px.png" alt="LinkedIn" style="height: 25px;"/></a>
				</li>
			</ul>

		</div>

	</div>
</div>