<div id="topbar" >
	<div class="container">
		<div class="row">
			<div class="four columns">
				<a href="./">
					<div class="name">
						<span class="title" style="font-size: 19pt">simonkhzhang.me</span>
					</div>
				</a>
			</div>
			<div class="topbar-nav eight columns">
				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#projects">Projects</a></li>
					<li><a href="#contact">Contact</a></li>
					<li>
						<a href="./documents/Simon_Zhang_resume.pdf" title="Simon_Zhang_resume"><img src="./assets/icons/professional5.png" alt="Resume" style="width: 18px;"/> Resume</a>
					</li>

				</ul>
			</div>
		</div>
	</div>

	<!-- TO TOP BUTTON -->
	<a href="#">
		<div id='toTop' style="background-image: url('./assets/icons/chevron-white.png');"></div>
	</a>

</div>